*{
    margin: 0;
    padding: 0;
    font-family:'josefin sans', sans-serif;
    
}
.container{width: 100%;
    height: 100vh;
    background-color: black;}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: auto;
    width: 80;


 } 
 nav ul li  {
display: inline-block;
padding: 50px 32px;

 }
 nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }
    nav ul li a:hover{
        color: rgb(129, 39, 87);
        transition: 0.2s;
    }
    nav ul li a:hover{
        color: rgb(141, 23, 23);
        
    }
    .logo{
        color: white;
        font-size: 45px;
        font-weight: bold;
    }span{
    color: rgb(182, 60, 11);
    }
    .btn-subs{
        background-color: rgb(182, 60, 11);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }
    .btn-subs:hover{
        background-color: rgb(141, 23, 23);
        color: yellowgreen;
        text-decoration: none;
        transition: 0.2s;
        padding: 7px 32px;
        border-radius:30px ;
        transform: scale(1.1);
    }
.content{margin-bottom: 8%;
margin-top: 12%;


}
.content .img img{
    width: 435px;
    border-radius: 5000px;

}.content .text{width: 100%;
line-height: 64px;color: wheat;
padding: 55px;

}
.content .text h4{
    font-size: 23px; color: wheat; letter-spacing: 2px;
    font-weight: bold;
}
.content .text h1{
    font-size: 75px; color: wheat; letter-spacing: 1px;
    font-weight: bold; margin: 2px;
}
.content .text h3{
    font-size: 25px; color: wheat; letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
}.cv{
text-decoration: none;color: white;font-weight: bold;background-color: slateblue;
padding:8px 7px;;
border-radius: 20px;
box-shadow:0px 0px 5px black;

}
.cv:hover{
    background-color: transparent
;
    text-decoration: none;
    transition: 0.2s;
    outline:none;
    border: crimson 2px solid; 
    
     
    transform: scale(1.1);
}
.content .img{
    width: 45%; height: 80%; position: absolute;bottom: 0px; right: 20px; border-radius: 5000px;

}
.face-logo{
    width: 50px;
}