
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@500&display=swap');
*{
 padding: 0;
 margin: 0;
 box-sizing:border-box;

}
body{

    font-family:"Quicksand", sans-serif ;
}
/* HEADER START*/
#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
#navbar img{
    width: 80px;
    margin-left: 100px;

}
#navbar ul{
    display: flex;
    margin-right: 100px;
    
}
#navbar ul li a{
  padding: 15px 20px; 
  color: rgb(21, 168, 43); 
  font-weight: 800;
}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header .content h1{
    font-size: 40px;
    color: white;
}
header .content p{
    margin: 20px 0 40px;
    color: azure;
}
.primary-text{
    color: yellow;
}
header{
    background: url(https://cdn.create.vista.com/api/media/small/56360353/stock-photo-hot-homemade-pepperoni-pizza) center center /cover no-repeat;position: relative;
    height: 100hv;
}
header::before{

    content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:  100%;
    background: rgb(0,0,0,0.6);

}
header * {
    z-index: 10;
}
.btn {
    display: inline block;
    padding: 15px 30px;
    border: none;
    border-radius:15px ;
}
.btn-primary {
    color: azure;
    border: 1px solid cornsilk;
}
.btn-primary:hover{
    background:yellow
}
#gallery{display: grid;
    grid-template-columns: repeat(2,260px);
    gap:(25px);
    
}
#card{

    
    width: 260px;
    height: 170px;
    border-radius: 25px;
    overflow: hidden;
    position:relative ;
}

#card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
display: block;
}
#card{
    position: absolute;
    inset:0;
    background-color: rgba(255,200,0,0,45)}
    .container{
        background-color:white;
        max-width: 1100px;
    }

    #gallery {

        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Fay7TOHR1sG4JdZi2eZ0VS-JYASqd61ZdA&s)center center/cover no-repeat;
        padding:8rem 0 6rem;
    }
#gallery img{
display: flex;
justify-content:  center;
align-items: center;
}

    #gallery img {
width: 280px;
height: 200px;
border-radius: 15px;
margin: 20px;
    }
    
#menuitems{
    background-color: blue;
}
    
    #gallery h2{

        color: rgb(24, 85, 138);
        text-align: center;
    }












